﻿@model RegisterViewModel
@* @{ *@
@*     ViewData["Title"] = "Register"; *@
@* } *@
@* <div class="brand-header-block"> *@
@*     <ul class="container"> *@
@*         <li class="active">REGISTER</li> *@
@*         <li style="margin-right: 65px;"> *@
@*             <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">LOGIN</a> *@
@*         </li> *@
@*     </ul> *@
@* </div> *@
<div class="register-page">
    <div class="lead">
        <h1>Register</h1>
    </div>
    
    <partial name="_ValidationSummary" />
    
    <div class="row">
        <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h2>Local Account</h2>
                            </div>
        
                            <div class="card-body">
                                <form asp-route="Register">
                                    <input type="hidden" asp-for="@ViewData["ReturnUrl"]" />
                                    <div class="form-group">
                                        <label asp-for="UserName"></label>
                                        <input class="form-control" placeholder="Username" asp-for="UserName" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="User.Name"></label>
                                        <input class="form-control" placeholder="Name" asp-for="User.Name" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="User.LastName"></label>
                                        <input class="form-control" placeholder="LastName" asp-for="User.LastName" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="User.Email"></label>
                                        <input class="form-control" placeholder="email" asp-for="Email" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="User.PhoneNumber"></label>
                                        <input class="form-control" placeholder="+7(XXX)XXX-XXX-XXX" asp-for="User.PhoneNumber" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password"></label>
                                        <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input type="password" class="form-control" placeholder="ConfirmPassword" asp-for="ConfirmPassword" autocomplete="off">
                                    </div>
                                   
                                    <button class="btn btn-primary" name="button" value="register">Register</button>
                                    <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
    </div>
</div>


@* <div class="container register-container"> *@
@*     <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal"> *@
@*         <h4 class="order-create-section-title">CREATE NEW ACCOUNT</h4> *@
@*         <div asp-validation-summary="All" class="text-danger"></div> *@
@*         <div class="row"> *@
@*             <div class="form-group col-sm-6"> *@
@*                 <label asp-for="User.Name" class="control-label form-label">NAME</label> *@
@*                 <input asp-for="User.Name" class="form-control form-input"/> *@
@*                 <span asp-validation-for="User.Name" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group col-sm-6"> *@
@*                 <label asp-for="User.LastName" class="control-label form-label">LAST NAME</label> *@
@*                 <input asp-for="User.LastName" class="form-control form-input"/> *@
@*                 <span asp-validation-for="User.LastName" class="text-danger"></span> *@
@*             </div> *@
@*              *@
@*             <div class="form-group col-sm-6"> *@
@*                 <label asp-for="User.PhoneNumber" class="control-label form-label">PHONE NUMBER</label> *@
@*                 <input asp-for="User.PhoneNumber" class="form-control form-input"/> *@
@*                 <span asp-validation-for="User.PhoneNumber" class="text-danger"></span> *@
@*             </div> *@
@*         </div> *@
@*         <br/><br/> *@
@*         <div class="row"> *@
@*             <div class="form-group col-sm-6"> *@
@*                 <label asp-for="Email" class="control-label form-label"></label> *@
@*                 <input asp-for="Email" class="form-control form-input"/> *@
@*                 <span asp-validation-for="Email" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group col-sm-offset-6"></div> *@
@*             <div class="form-group col-sm-6"> *@
@*                 <label asp-for="Password" class="control-label form-label"></label> *@
@*                 <input asp-for="Password" class="form-control form-input"/> *@
@*                 <span asp-validation-for="Password" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group col-sm-6"> *@
@*                 <label asp-for="ConfirmPassword" class="control-label form-label"></label> *@
@*                 <input asp-for="ConfirmPassword" class="form-control form-input"/> *@
@*                 <span asp-validation-for="ConfirmPassword" class="text-danger"></span> *@
@*             </div> *@
@*         </div> *@
@*         <br/><br/> *@
@*         <div class="form-group"> *@
@*             <button type="submit" class="btn btn-default btn-brand">&nbsp;Register&nbsp;</button> *@
@*         </div> *@
@*         <br/><br/> *@
@*     </form> *@
@* </div> *@

@* @section Scripts { *@
@*     @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); } *@
@* } *@